.maindiv{
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    flex-direction: column;

}

.checkedRows{
    padding: 0.5rem 1rem;
}
.mainheader th{

    border-bottom: 1px solid gray;
}

th{
    width: 100%;
}

tr{
    text-align: center;
    display: flex;
}

td{
    /* border-bottom: 1px solid red; */
    width: 100%;
}

.confirmDialog{
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 40%;
    right: 25%;
    background-color: wheat;
}

.buttonsYes{
    width: 20%;
    background-color: red;
    border-radius: 10px;
}
.buttonsNo {
    width: 20%;
    background-color: blue;
    border-radius: 10px;
}